{% extends "blog/index.html" %}
<div class="clearfix content">
	<div class="content_title"><h2>Latest Blog Post</h2></div>
	
	{% block content %}
	<h2 class="rtitle">LATEST BLOG POST</h2>
		{% for post in posts %}
			<!--<article class="post">
				<p class="text-decoration-line-through " >post by {{ post.author }}</p>
				<time class="date">
					{{ post.published_date }}
				</time>
				<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
				<p>{{ post.text|linebreaksbr | truncatewords:"30" }}</p>
				<a href="{% url 'post_detail' pk=post.pk %}">READMORE</a>
			</article>-->
			<div class="post-details">
					<div class="postheading">
						<div class="date">{{ post.published_date }}</div>
						<div class="postfff">
							<h3>{{ post.title }}</h3>
							<h5 style="top: 0; margin-top: 0; padding-top: 0;"> Post by<!--<img src="{{post.author.user_profile.profileimg.url}}" alt="profile image" width="15px" height="15px" style="border-radius: 50%;" > -->{{ post.author }}</h5>
						</div>
						
					</div>
					<p>{{ post.text|linebreaksbr | truncatewords:"30" }}</p>
					<button><a href="{% url 'post_detail' pk=post.pk %}">READMORE</a></button>
			</div>
			<br>
			<br>
			<br>
		{% endfor %}
	{% endblock %}